@import "tailwindcss";

body {
  background-color: #9ACBD0;
}

/* .react-modal-sheet-container {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  background-color: #9ACBD0 !important;
} */
